COSE416_HW1_data_v1/
COSE416_HW1_tutorial/ScreenCamera_2024-11-30-11-52-12.json
COSE416_HW1_tutorial/ScreenCapture_2024-11-30-11-52-12.png
COSE416_HW1_tutorial/camera_params.json
COSE416_HW1_tutorial/output_video.mp4
COSE416_HW1_tutorial/pcd/
output/